.wrapper {
  width: 100%;
  display: flex;
  padding: 20px;
  margin: 0;
  .head {
    .item {
      display: flex;
      align-items: center;
      .icon {
        font-size: 30px;
      }
    }
    :hover {
      color: rgb(150, 145, 186);
    }
  }
}
